body {
    background-color: black;
}

ul {
    padding:0px;
    margin: 0px;
}

.set-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid_container{
    display: grid;
    text-align: center;
    border: 3px solid white;
    width: 80%;
    color: white;
}

.column_headers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.exercise{
    display: flex;
    align-items: left;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

#exercise-list{
    padding:0px;
    margin:0px;
}

.exercise:nth-of-type(odd) {
    background-color: #111;
}

.exercise:nth-of-type(even) {
    background-color: #222;
}

.input-button {
    appearance: none;
    background-color: #000;
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.input-button:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #333;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    border-radius: 0px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.input-button:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.input-button:after {
    background-color: #b9edee;
}

.input-button span {
    z-index: 1;
    position: relative;
}

.day_title {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.day_title h1 {
    margin: 0px;
    width: 50vw;
    border: 4px #fff solid;
    background-color: #000;
    color: #f1faee;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-family: "Trebuchet MS"
}

.go_back {
    color: #fff;
    background: #000;
    font-family:'Roboto';
    font-size: 25px;
    padding: 5px 15px 5px 15px;
    border: 2px #fff solid;
    margin: 15px;
}
  
.go_back:hover {
    background-color: #333;
    color: white;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.enter-name {
    position: relative;
}

.enter-name input[type="text"] {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
/* input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #fff;
} */

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.set_header {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    padding-bottom: 20px;
}

.add,
.sub {
    color: #fff;
    font-size: 25px;
    background: #000;
    padding: 5px 15px 5px 15px;
    border: solid #fff 2px;
    margin: 15px;
}

.sub {
    font-size: 18px;
    padding: 3px 11px 3px 11px;
}

.add:hover, .sub:hover {
    background-color: #333;
    color: white;
}

.remove-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-right: 100px;
}

.set-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 100px;
}

.exercise-input{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    position: absolute;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    z-index: 10;
}

.name-and-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exercise-title{
    width: 50vw;
    display: flex;
    justify-content: center;
}

.set:nth-of-type(odd) {
    background-color: #111;
}

.set:nth-of-type(even) {
    background-color: #222;
}

.set {
    color: white;
    margin-left: 10vw;
}

.set h2 {
    font-size: 24px;
    padding-top: 20px;
    text-align: left;
}

.set-header{
    display: flex;
    margin-right: 15px;
}

.set-info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}

.enter-rpe {
    text-align: center;
    margin-bottom: 60px;
}

.enter-rpe input[type="range"] {
    appearance: none !important;
    width: 200px;
    height: 2px;
    background: #fff;
    border: none;
    outline: none;
}

.enter-rpe input[type="range"]::-webkit-slider-thumb {
    appearance: none !important;
    width: 30px;
    height: 30px;
    background: #000;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.enter-rpe input[type="range"]::-webkit-slider-thumb:hover {
    background: #333;
}

.sliderNum {
    display: inline-block;
    width: 1.5em;
    color: #fff;
}

.save {
    float: right;
    margin-right: 100px;
    padding-bottom: 50px;
}

/* form starting stylings ------------------------------- */
.enter-num { 
position:relative; 
}
.enter-num input[type="number"] {
font-size:18px;
padding:10px 10px 10px 5px;
display:block;
border:none;
border: 2px solid #fff;
background-color: #000;
color: #fff;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
color: #fff; 
font-size:18px;
font-weight:normal;
position: absolute;
pointer-events:none;
left:5px;
top:10px;
transition:0.2s ease all; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
top:-20px;
font-size:14px;
color:#fff;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
content:'';
height:2px; 
width:0;
bottom:1px; 
position:absolute;
background:#fff; 
transition:0.2s ease all; 
-moz-transition:0.2s ease all; 
-webkit-transition:0.2s ease all;
}
.bar:before {
left:50%;
}
.bar:after {
right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
position:absolute;
height:60%; 
width:100px; 
top:25%; 
left:0;
pointer-events:none;
opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
-webkit-animation:inputHighlighter 0.3s ease;
-moz-animation:inputHighlighter 0.3s ease;
animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}

/* RPE Help Tip ================ */
.RPE-help-tip {
        position: absolute;
        top: 18px;
        right: 70px;
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 18px;
        line-height: 26px;
        cursor: default;
}

.RPE-help-tip:before {
        content: '?';
        font-weight: bold;
        color: #000;
}

.RPE-help-tip:hover p {
        display: block;
        transform-origin: 100% 0%;
}

.RPE-help-tip p {
        display: none;
        text-align: left;
        background-color: #fff;
        padding: 20px;
        width: 300px;
        position: absolute;
        border-radius: 0px;
        right: -4px;
        color: #000;
        font-size: 13px;
        line-height: 1.4;
}

.RPE-help-tip p:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1E2021;
    right: 10px;
    top: -12px;
}

.RPE-help-tip p:after {
    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
}

.RPE-help-tip p:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1E2021;
    right: 10px;
    top: -12px;
}

.RPE-help-tip p:after {
    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}