body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CDEAE5;
}
.set-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}

.exercise-title {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.exercise-title h1 {
    margin: 0px;
    width: 50vw;
    border-radius: 50px;
    background-color: #377487;
    color: #f1faee;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-family: "Trebuchet MS"
}

.enter-input input[type="range"] {
    appearance: none !important;
    width: 200px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
}

.enter-input input[type="range"]::-webkit-slider-thumb {
    appearance: none !important;
    width: 30px;
    height: 30px;
    background: #457b9d;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.enter-input input[type="range"]::-webkit-slider-thumb:hover {
    background: black;
}

.sliderNum{
    display:inline-block;
    width: 1.5em;
}

.set:nth-of-type(odd) {
    background-color: #f1faee;
}

.set:nth-of-type(even) {
    background-color: #b9edee;
}

.set {
    padding: 15px 0;
    color: #000000;
    width: 80vw;
    border-left: 4px #1d3557 solid;
}

.set h2 {
    padding-left: 20px;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    text-align: left;
}

.enter-input {
    text-align: center;
    margin-bottom: 60px;
}


.set_header {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.add, .sub {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #1d3557;
  font-size: 25px;
  background: #dedede;
  padding: 5px 15px 5px 15px;
  border: solid #1d3557 1px;
  margin: 15px;
}

.sub {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #1d3557;
  font-size: 18px;
  background: #dedede;
  padding: 3px 11px 3px 11px;
  border: solid #1d3557 1px;
  margin: 15px;
}

button:hover {
  background-color: #377487;
  color: white;
}

* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
.container 		{ 
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}
h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer { text-align:center; }
.footer a { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.enter-num { 
  position:relative; 
}
.enter-num input[type="text"] {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color: #377487; 
  font-size:18px;
  font-weight:normal;
  position: absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
